doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel="stylesheet", href="/mdb-ui-kit/css/mdb.min.css")
    link(rel='preconnect' href='https://fonts.gstatic.com')
    link(href='https://fonts.googleapis.com/css2?family=Courgette&display=swap' rel='stylesheet')
    link(rel='preconnect' href='https://fonts.gstatic.com')
    link(href='https://fonts.googleapis.com/css2?family=Courgette&family=Markazi+Text&display=swap' rel='stylesheet')
    link(rel="stylesheet", href="/@fortawesome/fontawesome-free/css/all.min.css")
  body
    block content



    script(src="/mdb-ui-kit/js/mdb.min.js")
    script(src="/jquery/dist/jquery.min.js")
    script(src="/javascript/bootstrap.min.js")